APScheduler==3.6.3
asn1crypto==1.5.1
backcall==0.2.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
Click==8.1.2
cryptography==36.0.2
celery==5.2.7
decorator==5.1.1
Flask==2.1.1
Flask-APScheduler==1.12.3
flask-shell-ipython==0.4.1
future==0.18.2
gunicorn==20.1.0
idna==3.3
ipython==8.2.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.1
MarkupSafe==2.1.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.29
ptyprocess==0.7.0
pycoingecko==2.2.0
pycparser==2.21
Pygments==2.11.2
python-dateutil==2.8.2
pytz==2022.1
redis==4.2.2
requests==2.27.1
six==1.16.0
traitlets==5.1.1
tzlocal==4.2
urllib3==1.26.9
wcwidth==0.2.5
Werkzeug==2.1.1
pytest==7.1.1
python-telegram-bot==13.11
